{% extends "base.html" %}

{% block page_title %}
Best PC games
{% endblock %}

{% block page_content %}
<h1 class="jumbotron display-3 d-none d-md-block">Best games to play on PC</h1>
<h3 class=" d-md-none">Best games to play on PC</h3>

<div class="container">
  <div class="row">
        {% for the_game in the_games %}
        <div class="col-md-6 col-sm-12 ">
          <div class="card-game-type card border-dark mb-4 mt-2">
            <img src="{{ the_game["image"] }}" alt="{{ the_game["name"] }}" class="card-game-img mb-3 img-fluid card-img-top " >

          <div class="card-body">
              <h3 class=" card-title">{{ the_game["name"] }}</h3>
              <h4>{{ the_game["description"] }}</h4>

              </div>
            <div class="card-footer">
              <div class="clearfix">
                <a href="/{{ the_game.id }}" class="btn btn-dark float-right">Xem thêm</a>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}

  </div>

</div>

{% endblock %}
